<!-- Navigation -->

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137268878-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137268878-3');
</script>
</head>
<style>


body {
  background: url('https://lh3.googleusercontent.com/Pv4k_zAxaPOQ4DoC3idSikFmhR9Hleubg-9VOPE-TuCFNUCHeKu-aU9ZMGZSreGuZ4qfaOCA7BlUmVh7MrXSIG4ozK-al6yRTSkjqEhPKdBK5H6b7YeTYN9PO0MHqBc1AtGGuyAnoGAdZEjlDd6QxYbec2jacTnqAbdwDFjdeLwDroS9tUyxgMqDywtHBNxHR7OK7bsvqJsagNTScYvHisDpBkIatGGXycsAfgLaX_t1N4Iff3nfdJFLHlEENTtnPzm8w6D1_gmtrkWPW1tub_NJu8vVVXjsSed5C9vy1scO52BPwwMHLlQAfohu085ki_gPqDyDLRQTV31nHc9Yt4RQRB_7MH3Orho-phNS0O86htCoFIYpsblxjxmU3CtLfJPSgr5Ee7VzRnZVh0OIwCl9d--3fEhKCiPA2pKSiPwIbcyGhwjBOweA9JVB6H17n-vo97upxfjL6Q0vXvRRQxoXX6NCoKx-bM7H-TyBFkAaJMFnsBsyJz0pYRtEr7b6f_dpAK6FpaOipTZbCcBs2bkY01wUrDHDufeo_CEF31eAp0Thl-hDLw8QApN71F1AGN-qMUlVYVJG5tH148sITWzonqlHcaHkL6BnUn6Nr-kGrHmpR-kWmeGKPDNn64EUfEFw9Y7IMLnX550UBLYNwFxRtA2JX3w=w1250-h937-no') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="/"><%= client.user.username %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Strona głowna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
             <% if(!user) { %> 
        <li class="nav-item">
          <a class="nav-link" href="/callback">Zaloguj się</a>
        </li>
        <% } else { %>
         <li class="nav-item">
          <a class="nav-link" href="/info">Dashboard</a>
            
        </li>
        <li class="nav-item active"> 
          <a class="nav-link" href="/profil">Profil</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Wyloguj</a>
        </li>
        <% } %>
        </ul>
      
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Support</h1>
 <!--       <p class="lead">Tutaj możesz zarządzać swoim profilem</p> -->
        <br>
    <h3 class="font-weight-light">Głowni programiści</h3> 
     
        <div class="card-deck">

<% client.gdevs.forEach(id => { %>
  <div class="card" style="max-width: 256px">
  <img class="card-img-top" src="<%= client.users.get(id).avatarURL || "http://rkubapl.malopolska.pl/cdn/idk.png" %>"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= client.users.get(id).username %></h5>
  </div>
</div>
  <% }) %>
  </div>
  <br>
     <h3 class="font-weight-light">Programiści</h3> 
     
        <div class="card-deck">

<% client.prog.forEach(id => { %>
  <div class="card" style="max-width: 256px">
  <img class="card-img-top" src="<%= client.users.get(id).avatarURL || "http://rkubapl.malopolska.pl/cdn/idk.png" %>"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= client.users.get(id).username %></h5>
  </div>
</div>
  <% }) %>
  </div>
  <br>
   <h3 class="font-weight-light">Head administratorzy</h3> 
     
        <div class="card-deck">

<% client.head.forEach(id => { %>
  <div class="card" style="max-width: 256px">
  <img class="card-img-top" src="<%= client.users.get(id).avatarURL || "http://rkubapl.malopolska.pl/cdn/idk.png" %>"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= client.users.get(id).username %></h5>
  </div>
</div>
  <% }) %>
 
</div>
<br>
<h3 class="font-weight-light">Support</h3> 
     
        <div class="card-deck">

<% client.support.forEach(id => { %>
  <div class="card" style="max-width: 256px">
  <img class="card-img-top" src="<%= client.users.get(id).avatarURL || "http://rkubapl.malopolska.pl/cdn/idk.png" %>">
  <div class="card-body">
    <h5 class="card-title"><%= client.users.get(id).username %></h5>
  </div>
</div>
  <% }) %>
 
</div>

<br>
    <br>
    <center>
    <p class="lead">Created by <a href="https://startbootstrap.com/">StartBootstrap</a></p>
    <p id="cookieMessage"></p>
    </center>
    <script>
        let cookieMessage = document.getElementById("cookieMessage");
        if(localStorage.getItem("cookieAccept") !== "true") {
          let cookieHTML = `
    <p id="ciasto">Ta strona uzywa <a href="http://wszystkoociasteczkach.pl/">Ciasteczek (kliknij po info)</a> <button type="button" class="btn btn-outline-success" onclick="cookieAccept();">Akceptuje</button>  <a href="http://google.com" class="btn btn-outline-danger">Nie akceptuje</a></p>
          `;
          cookieMessage.innerHTML = cookieHTML;
        }
        function cookieAccept() {
          localStorage.setItem("cookieAccept", "true");
          cookieMessage.innerHTML = "";
        }
      </script>
      </div>
    </div>
  </div>